@font-face {
    font-family:"Regular" ;
    src: url(../../public/font/Poppins-Regular.ttf);
}
@font-face {
    font-family: "ExtraBoldItalic";
    src: url(../../public/font/Poppins-ExtraBoldItalic.ttf);
}
:root{
    --Purple: #854dff ;
    --Light_red: #ff5757 ;
    --White: #ffffff;
    --Off_white: #f0f0f0 ;
    --Light_grey: #dbdbdb ;
    --Smokey_grey: #716f6f ;
    --Off_black: #141414 ;
}
*{
    margin: auto;
    padding: 0;
}
body{
    background-color: var(--Off_white);
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.column{
    background-color: var(--White);
    margin-top: 7em;
    padding: 1rem 9rem 1rem 2rem;
    border-radius: 18px 18px 74px 18px;
    box-shadow: 0px 0px 8px 0px var(--Light_grey);
}
.date_box_text{
    display: flex;
    padding-top: 1em;
    font-family:"Regular" ;
    color: var(--Smokey_grey);
}
.date_box input{
    width: 83px;
    text-align: center;
    padding: 6px 1px 6px 1px;
    border-radius: 5px;
    border: 1px solid var(--Smokey_grey);
}
.date_box input:hover{
    border:1px solid var(--Light_red);
}
.btn_box{
    margin-top: 2em;
    direction: rtl;
   
}
.border_box{
    border-bottom: 1px solid var(--Smokey_grey);
}
.bi-arrow-down{
    position: relative;
    bottom: 12px;
    left: 40px;
    font-size: 21px;
    font-weight: 400;
    background: var(--Off_black);
    border-radius: 50%;
    padding: 4px 7px 4px 7px;
    color: var(--White);
}
.bi-arrow-down:hover{
    background-color: var(--Purple);
}
.text_box{
    font-size: 39px;
    font-weight: 800;
    line-height: 65px;
    font-family: "ExtraBoldItalic";
}

.text_box span{
    color: var(--Purple);
}